<button mat-raised-button (click)="generateWandEffect()">Generate</button>

<h2 *ngIf="!wandEffect.type">Press the button to generate effect</h2>

<br>
<br>
<mat-card *ngIf="wandEffect.type">
  <mat-card-title>
    {{ wandEffect.type }}
  </mat-card-title>
  <mat-card-content>
    <p>
      {{ wandEffect.name }}
    </p>
    <p>
      {{ wandEffect.target}}
    </p>
    <p *ngIf="selectedSpell">
      {{ selectedSpell.description }}
    </p>
  </mat-card-content>
</mat-card>
